body{
    background-color: rgb(164, 170, 235);
    color: rgb(4, 98, 136);
    background-attachment: fixed;
}
  
canvas{
  image-rendering:pixelated;
  box-shadow: -3px 2px 9px 6px black;
  background-image: url(https://i.notretemps.com/1400x787/smart/2021/03/25/sorties-nature-4-forets-ou-il-fait-bon-flaner.jpg);
  margin-top: 30px;
}

.controls, select, option{
    font-size: 25px;
}
